# homelab/hub/cloudflared/docker-compose.yml
services:
  cloudflared:
    image: cloudflare/cloudflared
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate --protocol http2 run ${CLOUDFLARE_TUNNEL_ID}
    volumes:
      - ./config/cloudflared.yml:/etc/cloudflared/config.yml:ro
      - ./config/credentials.json:/etc/cloudflared/credentials.json:ro
    networks:
      - cloudflare-backend

networks:
  cloudflare-backend:
