---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

layout:
  Apps:
    style: row
    columns: 3
  Infrastructure:
    style: row
    columns: 3
  Monitoring:
    style: row
    columns: 3
