services:
  paperless-broker:
    image: docker.io/library/redis:7
    container_name: paperless-redis
    restart: unless-stopped
    volumes:
      - ./data/redisdata:/data
    networks:
      - paperless-backend

  paperless-db:
    image: docker.io/library/postgres:16
    container_name: paperless-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data
    networks:
      - paperless-backend

  paperless-webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless-webserver
    restart: unless-stopped
    depends_on:
      - paperless-db
      - paperless-broker
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000" ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./data/paperless/data:/usr/src/paperless/data
      - ./data/paperless/media:/usr/src/paperless/media
      - ./data/paperless/export:/usr/src/paperless/export
      - ./data/paperless/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://paperless-broker:6379
      PAPERLESS_DBHOST: paperless-db
      PAPERLESS_DBPASS: ${POSTGRES_PASSWORD}
      PAPERLESS_OCR_LANGUAGE: eng
      PAPERLESS_TIME_ZONE: America/New_York
      PAPERLESS_CSRF_TRUSTED_ORIGINS: https://paperless.${DOMAIN_NAME}
      PAPERLESS_URL: https://paperless.${DOMAIN_NAME}
      PAPERLESS_SECRET_KEY: ${PAPERLESS_SECRET_KEY}
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIAL_AUTO_SIGNUP: True
      PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: True
      PAPERLESS_DISABLE_REGULAR_LOGIN: True
      PAPERLESS_REDIRECT_LOGIN_TO_SSO: True
      PAPERLESS_SOCIAL_ACCOUNT_SYNC_GROUPS: True
      PAPERLESS_ADMIN_USER: ${PAPERLESS_ADMIN_USER}
      PAPERLESS_ADMIN_PASSWORD: ${PAPERLESS_ADMIN_PASSWORD}
      PAPERLESS_ADMIN_MAIL: ${PAPERLESS_ADMIN_MAIL}
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: >
        {
          "openid_connect": {
            "APPS": [
              {
                "provider_id": "authentik",
                "name": "Authentik",
                "client_id": "${PAPERLESS_CLIENT_ID}",
                "secret": "${PAPERLESS_CLIENT_SECRET}",
                "settings": {
                  "server_url": "https://authentik.${DOMAIN_NAME}/application/o/paperless/.well-known/openid-configuration"
                }
              }
            ],
            "SCOPE": ["openid", "profile", "email", "groups"],
            "OAUTH_PKCE_ENABLED": true
          }
        }
    labels:
      - traefik.enable=true
      - traefik.http.routers.paperless.rule=Host(`paperless.${DOMAIN_NAME}`)
      - traefik.http.routers.paperless.entrypoints=websecure
      - traefik.http.routers.paperless.tls=true
      - traefik.http.routers.paperless.tls.certresolver=cloudflare
      - traefik.http.routers.paperless.middlewares=authentik@docker
      - homepage.group=Apps
      - homepage.name=Paperless
      - homepage.icon=paperless
      - homepage.href=https://paperless.${DOMAIN_NAME}
    networks:
      - paperless-backend
      - traefik-frontend

networks:
  paperless-backend:
    internal: true
  traefik-frontend:
    external: true
