# homelab/hub/cloudflared/docker-compose.yml
services:
  cloudflared:
    image: cloudflare/cloudflared:2026.2.0
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --protocol http2
    volumes:
      - ./config/cloudflared.yml:/etc/cloudflared/config.yml:ro
      - ./config/credentials.json:/etc/cloudflared/credentials.json:ro
    networks:
      - frontend

networks:
  frontend:
    external: true
