services:
  beszel:
    image: henrygd/beszel:0.18.3
    container_name: beszel
    restart: unless-stopped
    volumes:
      - ./data/beszel/data:/beszel_data
      - ./data/beszel/socket:/beszel_socket
    labels:
      - traefik.enable=true
      - traefik.http.routers.beszel.rule=Host(`beszel.${DOMAIN_NAME}`)
      - traefik.http.routers.beszel.entrypoints=websecure
      - traefik.http.routers.beszel.tls=true
      - traefik.http.routers.beszel.tls.certresolver=cloudflare
      - traefik.http.routers.beszel.tls.domains[0].main=beszel.${DOMAIN_NAME}

      - kuma.beszel.http.name=Beszel
      - kuma.beszel.http.url=https://beszel.${DOMAIN_NAME}
    environment:
      - APP_URL=https://beszel.${DOMAIN_NAME}
      - TRUSTED_PROXIES=0.0.0.0/0
      - DISABLE_PASSWORD_AUTH=${DISABLE_PASSWORD_AUTH}
      - USER_CREATION=${USER_CREATION}
      - USER_EMAIL=${USER_EMAIL}
      - USER_PASSWORD=${USER_PASSWORD}
    networks:
      - traefik_frontend
networks:
  traefik_frontend:
    external: true